
<div id="small-banner" class="page-title d-flex" aria-label="Page title">
      <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item"><%= link_to "Shop", root_path %></li>
          </ol>
        </nav>
        <h1 class="page-title-heading"> Mon espace Profil </h1>
      </div>
</div>


<!-- Contacts Card Default -->
<div class="container">
    <div class="row">
        <div class="card col-6">
            <div class="card-body">
  	             <div class="author-card pb-3">
                     <div class="author-card-cover"></div>
                         <div class="author-card-profile mt-30" >
	                           <div class="author-card-details">
	                                <h5 class="author-card-name text-lg">    
                                  <h6><%= @profile.first_name %> <%= @profile.last_name %></h6></h5>
                                  <span class="author-card-position"><%= current_user.created_at %></span>
	                           </div>
                             <div class="widget widget-contacts">
                				      <ul>
                				        <li>
                                  <i class="fas fa-home"></i> 				          
                                  <span> Adress </span>
                				          <a><%= @profile.street %>,<%= @profile.zip_code %>,<%= @profile.city %></a>
                				        </li>
                				        <li>
                				          <i class="fas fa-at"></i>
                				          <span> Email </span>
                				          <a><%= @profile.user.email %></a>
                				        </li>
                				        <li>
                				          <i class="fas fa-phone"></i>
                				          <span> Number </span>
                				          <a><%= @profile.phone_number %></a>
                				        </li>
                				      </ul>
                				    </div>
                         </div>
                    </div>
              </div>
              


<!-- Buttons -->
          <p>
            	<%= link_to edit_user_registration_path, class: "btn btn-style-4 btn-secondary btn-sm" do%> 
               <span><i class="fas fa-key"></i> Edit email and/or password </span>
               <% end %>

              <%= link_to edit_profile_path(current_user.profile.id), class: "btn btn-style-4 btn-secondary btn-sm" do%> 
              <span><i class="fas fa-user-edit"></i> Edit profile information </span>
               <% end %>
          </p>
      </div>


<!-- Orders Table-->
        <div class="card col-6 ">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>Order #</th>
                  <th>Date Purchased</th>
                  <th>Status</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <% @cart_all.each_with_index do |order, i| %>

                  <td><a class="navi-link" data-toggle="modal"><%=order.id %></a></td>
                  <td><%=order.created_at %></td>
                  <td><span class="badge badge-success m-0"><%=order.status %></span>
                  <td><%=order_amount(order) %>€</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
    </div>
</div>
