  <%= render 'small_banner' %>
<!-- Product List View -->
  <div class= "container my-5">
    <div class="card portfolio-card portfolio-list">
      <% if @item.item_picture.attached? %>
        <%= image_tag @item.item_picture, alt: 'item picture', id:'image_item' %>
      <% else %>
        <a class="portfolio-thumb" style="background-image: url(<%= @item.image_url %>);"></a>
      <% end %>
        <div id="description_item" class="card-body">
          <div class="portfolio-meta">
            <span class="mr-3"><i class="far fa-user"></i> <%= @item.author %></span>
            <span class="mr-3"><i class="far fa-heart"></i> 12 </span>
            <i class="far fa-bookmark"></i><a href="#"> Chaton</a>, <a href="#">mignon</a>
          </div>
          <h2 class="h3 font-weight-bold block-title"><%= @item.title %></h2>
          <h3 class="h4 font-weight-light"><%= @item.price %> €</h3>
          <p class="text-muted">Description : <%= @item.description %></p>

          <%= button_to "Modifier l'article", edit_admin_item_path(@item.id), method: :get, :class => "btn btn-primary btn-block m-0" %>

        </div>
    </div>
  </div> <!-- fin container -->
