<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Edit <%= resource_name.to_s.humanize %></h1>
      <%= f.error_notification %>

                <div class="form-inputs">
                


                      <div class="form-group">
                        <%= f.label :email, "Email" %><br />
                        <%= f.email_field :email,required: true, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div>


                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                      <% end %>


                      <div class="form-group">
                          <%= f.label :current_password %><br />
                          <%= f.password_field :current_password,
                                  hint: "we need your current password to confirm your changes",
                                  required: true,
                                  input_html: { autocomplete: "current-password" } , class: "form-control" %>
                      </div>


                      <div class="form-group">
                              <%= f.label :new_password %>
                              <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                              <% end %><br />

                              <%= f.password_field :password,  hint: "leave it blank if you don't want to change it",
                                  required: false, autocomplete: "new-password", class: "form-control" %>
                     </div>


                   

                    

                          <div class="form-group">
                          <%= f.label :new_password_confirmation %><br />
                          <%= f.password_field :password_confirmation, required: false, autocomplete: "new-password", class: "form-control" %>
                      </div>

              </div>

                <br>

                      <div class="form-actions actions mt-5">
                       <%= f.button :submit, "update", class: "btn btn-lg btn-primary btn-block" %>
                      </div>

                      <% end %>

                          <br>
                              <br>

              <div>
                  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                  <p><%= link_to "Back to previous page", :back %></p>
              </div>

    </div>
  </div>
</div>



