
<div class="container">
	<br><br>
	<h4> Contenu de la commande numéro <%=@cart.id%> </h4>
	<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Produit</th>
       <th scope="col">Nom Produit</th>
      <th scope="col">Quantité</th>
	  <th scope="col">Prix</th>
      <th scope="col">Montant</th>
    </tr>
  </thead>
  <tbody>
		 <% @cart_items.each do |cart_item| %>
		    <tr>
		      <th scope="row"><%= cart_item.id %></th>
		       <td><%= cart_item.item.title %> </td>
		      <td><%= cart_item.quantity %> </td>
		      <td><%= cart_item.item.price %> €</td>
		      <td><%= cart_item.quantity * cart_item.item.price %></td>
		    </tr>
		<%end%>
  </tbody>
</table>


</div>

<div class="container">
	<br><br>
	<h4> Détail de la commande numéro <%=@cart.id%> </h4>
	<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date commande</th>
       <th scope="col">Statut</th>
      <th scope="col">Montant Produit </th>
	  <th scope="col">Frais de livraison</th>
      <th scope="col">Montant total</th>
    </tr>
  </thead>
  <tbody>
		    <tr>
		      <th scope="row"><%= @cart.updated_at %></th>
		       <td><span class="badge badge-info m-0"><%= @cart.status %> </td>
		      <td><%= order_amount(@cart) %> </td>
		      <td><%= number_of_items(@cart)*2 %> €</td>
		      <td><%= order_amount(@cart) + (number_of_items(@cart)*2)  %></td>
		    </tr>
		
  </tbody>
</table>
</div>

<div class="container">
	<br><br>
	<h4> Détail client</h4>
	<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID client</th>
       <th scope="col">Email Client</th>
      <th scope="col">Date inscription </th>
	  <th scope="col">Nom et prénom</th>
      <th scope="col">Voir la fiche client</th>
    </tr>
  </thead>
  <tbody>
		    <tr>
		      <th scope="row"><%= @cart.user.id %></th>
		       <td><%= @cart.user.email%> </td>
		      <td><%= @cart.user.created_at %> </td>
		      <td><%= @cart.user.profile.first_name + @cart.user.profile.last_name  %></td>
		      <td><%=link_to 'Détail Client', admin_user_path(@cart.user), class:"btn btn-secondary"%></td>
		    </tr>
		
  </tbody>
</table>
</div>