<%= render 'small_banner' %>

<div class="container pb-5 mb-2">

  <% @cart_items.each do |cart_item| %> <!-- items panier -->
  	<div class="cart-item d-md-flex justify-content-between">
      <span class="remove-item">
        <%= link_to cart_item_path(cart_item.id), method: "delete", :class => "text-decoration-none", data: { confirm: "Are you sure about deleting this item from your list ?"} do %>
          <i class="fas fa-times"></i>
        <% end %>
      </span>
      <div class="px-3 my-3">
        <div class="cart-item-product">
          <div class="cart-item-product-thumb">
            <% if cart_item.item.item_picture.attached? %>
              <%= image_tag cart_item.item.item_picture, alt: 'item picture' %>
            <% else %>
              <img src="<%= cart_item.item.image_url %>" alt="Product">
            <% end %>
          </div>
          <div class="cart-item-product-info">
            <h4 class="cart-item-product-title">
              <%= link_to cart_item.item.title, item_path(cart_item.item.id), class:"" %>
              </h4>
            <span><strong>Dimension:</strong> <%=cart_item.item.dimension %></span>
            <span><strong>Author:</strong><%=cart_item.item.author %></span>
          </div>
        </div>
      </div>
      <div class="px-3 my-3 text-center">
        <div class="cart-item-label">Quantity</div>
          <div class="count-input">
            <select class="form-control">
              <option>1</option>
            </select>
          </div>
      </div>
      <div class="px-3 my-3 text-center">
        <div class="cart-item-label">Price</div><span class="text-xl font-weight-medium"><%=cart_item.item.price %></span>
      </div>
    </div>
  <%end%> <!-- items panier -->


<div class="d-sm-flex justify-content-between align-items-center text-center text-sm-right">

        <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Sous-total:</span><span class="d-inline-block align-middle text-xl font-weight-medium"><%= total_cart %></span></div>
</div>


<div class="row pt-3 pb-5 mb-2">

  <div class="col-sm-6 mb-3">
    <%=link_to 'Continuer mes achats', root_path, class:'btn btn-secondary btn-block'%>
  </div>
 <%if number_of_cart_items !=0%>
	<div class="col-sm-6 mb-3">
    <div id="accordion1">
      <a class="collapsed btn btn-primary btn-block" href="#collapseOne" data-toggle="collapse"><i class="far fa-credit-card"></i> Valider mon panier</a>
    </div>
  </div>
<%end%>
</div>

<% if current_user_profile? %>
  <div class="collapsed" id="collapseOne" data-parent="#accordion1">
    <div class="card-body">
        <div class="col-md-12"><%= render 'profiles/edit_form' %></div>
    </div>
  </div>

<% else %>
  <div class="collapse" id="collapseOne" data-parent="#accordion1">
    <div class="card-body">
        <div class="col-md-12"><%= render 'profiles/new_form' %></div>
    </div>
  </div>
<% end %>

</div> <!-- container -->
