<div class="content row justify-content-md-center">
  <div class="card col-lg-6">
    <div class="card-body">
  <h1 class="mb-3">Ajouter un item</h1>

  <%= form_tag url_for(action: 'create'), method: "post", multipart: true do %>
        <div class="form-group">
          <%= label_tag 'Image :'%>
          <%= file_field_tag :item_picture  %>
          <%= text_field_tag 'title', @item.title, class: "form-control mb-1", placeholder: "Le titre" %>
          <%= text_area_tag 'description', @item.description, class: "form-control mb-1", placeholder: "Description" %>
          <%= text_field_tag 'price', @item.price, class: "form-control mb-1", placeholder: "Prix" %>
          <%= text_field_tag 'author', @item.author, class: "form-control mb-1", placeholder: "Auteur" %>
          <%= text_field_tag 'view', @item.view, class: "form-control mb-1", placeholder: "Vues" %>
          <%= text_field_tag 'dimension', @item.dimension, class: "form-control mb-1", placeholder: "Dimensions" %>
          <%= text_field_tag 'image_url', @item.dimension, class: "form-control mb-1", placeholder: "image_url" %>
          <br />
          <%= submit_tag "Ajouter mon item", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
    <% if @item.errors.any? %>
      <div class="alert alert-danger" role="alert">
          <p>Nous n'avons pas réussi à créer l'item' pour la (ou les) raison(s) suivante(s) :</p>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
</div>




