

<div class="card-body text-info">
  <div class="card-header">
	<h1> Produit numéro <%=params[:id]%></h1>
</div>

  <!-- Tooltip Static (On the Right) -->
  <div class="tooltip bs-tooltip-right" role="tooltip">
    <div class="arrow"></div>
    <div class="tooltip-inner"> HI ! </div>
  </div>


  <!-- Portfolio List View -->
  <div class= "container">
  <div class="card portfolio-card portfolio-list">
  <a class="portfolio-thumb" style="background-image: url(<%= @item.image_url %>);"></a>
  <div class="card-body">
    <div class="portfolio-meta">
      <span class="mr-3"><i class="fe-icon-user"></i> <%= @item.author %></span>
      <i class="fe-icon-heart text-accent"></i>12</a>
    </div>
    <h5 class="portfolio-title">
    </h5>
    <h5 class="block-title"> <%= @item.title %></h5>
    <p class="card-text"> Description :<%= @item.description %></p>
    <p class="card-text"> Price : <%= @item.price %> € </p>


	  <!-- Amazon Button -->
	<a class="market-btn amazon-btn" href="#">
	  <span class="mb-subtitle">Order now at</span>
	  <span class="mb-title">Amazon.com</span>
	</a>

  </div>
</div>
</div>


<!-- Testimonials Carousel Widget -->
<div class= "container">


<!-- Social Networks Widget -->
<div class="widget p-5">
  <h4 class="widget-title">Social networks</h4>
  <a class="social-btn sb-style-6 sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
    <i class="socicon-facebook"></i>
  </a>
  <a class="social-btn sb-style-6 sb-dribbble" href="#" data-toggle="tooltip" data-placement="top" title="Dribbble">
    <i class="socicon-dribbble"></i>
  </a>
  <a class="social-btn sb-style-6 sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
    <i class="socicon-twitter"></i>
  </a>
</div>
</div>