  <%= render 'small_banner' %>

  <!-- Product List View -->
  <div class= "container">
    <div class="card portfolio-card portfolio-list">
      <% if @item.item_picture.attached? %>
        <%= image_tag @item.item_picture, alt: 'item picture', id:'image_item' %>
      <% else %>
        <a class="portfolio-thumb" style="background-image: url(<%= @item.image_url %>);"></a>
      <% end %>
        <div id="description_item" class="card-body">
          <div class="portfolio-meta">
            <span class="mr-3"><i class="far fa-user"></i> <%= @item.author %></span>
            <span class="mr-3"><i class="far fa-heart"></i> 12 </span>
            <i class="far fa-bookmark"></i><a href="#"> Chaton</a>, <a href="#">mignon</a>
          </div>
          <h2 class="h3 font-weight-bold block-title"><%= @item.title %></h2>
          <h3 class="h4 font-weight-light"><%= @item.price %> €</h3>
          <p class="text-muted">Description : <%= @item.description %></p>

        <!-- Add to cart Button -->
          <div class="row align-items-end pb-4">
       
            <div class="col-sm-12">
              <div class="pt-4 hidden-sm-up"></div>
       
              <% if signed_in?  %>
                <% if new_article? %>
                  <%= button_to "Add to cart", cart_items_path(params[:id].to_i), method: :post, :class => "btn btn-primary btn-block m-0", "data-toggle" =>"modal", "data-target" => "#modalCentered", remote: true %>
                  <%else%>
                    <div class="alert alert-primary" role="alert">
                    Ce produit est déjà dans votre panier
                    </div>
                  <%end%>
              <% else %>
                <%= button_to "Se connecter pour acheter", new_user_session_path, method: :get, :class => "btn btn-primary btn-block m-0" %>
              <% end %>
            </div>
          </div> <!-- fin add-to-cart-button -->

          <!-- Center Aligned -->
          <div class="text-center">
            <h5 class="block-title">
              <%= rand(40..100) %>
              <small>utilisateurs en train de regarder cet article</small>
            </h5>
          </div>

        </div>
    </div>
<br>
<br>
<h4>Produits les plus consultés</h4>
<div class="row mt-5 mx-md-3">

  <!-- Card -->
  <% @best_items.each do |item| %>
  <div class="col-sm-6 col-md-4 col-xs-12">
  <div class="card mb-30 mx-md-3 mx-xs-0">
    <% if item.item_picture.attached? %>
      <%= image_tag item.item_picture, alt: 'item picture' %>
    <% else %>
      <img src="<%= item.image_url %>" alt="Card image">
    <% end %>
    <div class="card-body">
      <h4 class="card-title"><%= item.title %></h4>
      <p class="card-text"> Description : <%= item.description %></p>
      <p class="card-text"> Price : <%= item.price %> €</p>
    </div>
    <div class="card-footer text-muted text-sm">
        <%= link_to "Voir le produit", item_path(item), :class => "btn btn-style-6 btn-gradient" %>  
      
    </div>
  </div>
  </div>
  <% end %>

</div> <!-- fin row -->



 </div> <!-- fin container -->


<!-- Social Networks Widget -->
<div class= "container">
  <div class="widget p-5">
    <h4 class="widget-title">Social networks</h4>
    <a class="social-btn sb-style-6 sb-facebook" href="#" data-placement="top" title="Facebook">
      <i class="socicon-facebook"></i>
    </a>
    <a class="social-btn sb-style-6 sb-dribbble" href="#" data-placement="top" title="Dribbble">
      <i class="socicon-dribbble"></i>
    </a>
    <a class="social-btn sb-style-6 sb-twitter" href="#" data-placement="top" title="Twitter">
      <i class="socicon-twitter"></i>
    </a>
  </div>
</div>

<!-- Vertically Centered Modal -->
<% if signed_in?  %>
  <div class="modal fade" id="modalCentered" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ajout d'un article</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>Photo bien ajoutée au panier 😻</p>
        </div>
        <div class="modal-footer">

           <%= button_to "Voir mon panier", cart_path(current_user.carts.last), method: :get, :class => "btn btn-primary btn-sm"%>

          <%= button_to "Continuer mes achats", items_path, method: :get, :class => "btn btn-secondary btn-sm"%>

        </div>
      </div>
    </div>
  </div>
<% end %>


