

  <!-- DESKTOPPPPPPPPPPP-->


<header class="navbar-wrapper navbar-sticky">
      <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="items.html"><%=image_tag("logo.png", class: "menu_icon") %></a></div>
      <div class="d-table-cell w-100 align-middle pl-md-3">
        <div class="navbar justify-content-end justify-content-lg-between">
          <!-- Search-->
          <form class="search-box" method="get">
            <div class="easy-autocomplete" style="width: 915px;"><input type="text" id="site-search" placeholder="Type A or C to see suggestions" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-site-search"><ul></ul></div></div><span class="search-close"><i class="fe-icon-x"></i></span>
          </form>
          <!-- Main Menu-->
          <ul class="navbar-nav d-lg-block">
            <!-- Home-->
            <li class="nav-item mega-dropdown-toggle active"><%= link_to "Trois Petits Chats", root_path, class:"nav-link" %> 
              <div class="dropdown-menu mega-dropdown">
                <div class="d-flex">
                </div>
              </div>
            </li>

            <!-- Account-->
            <li class="nav-item dropdown-toggle"><a class="nav-link">Account</a>
                <ul class="dropdown-menu">
                    <%if user_signed_in?%>
                      <li class="dropdown-item">  <%= link_to "Edit email / password", edit_user_registration_path %> </li>
                      <li class="dropdown-item"> <%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
              
                     <% else %>
                      <li class="dropdown-item"> <%= link_to "Log In", new_user_session_path, class:"dropdown-item" %></li>
                      <li class="dropdown-item"><%= link_to "Registration", new_user_registration_path, class:"dropdown-item" %></li>

                     <% end %>
                 </ul>
            </li>

            <!-- Components-->
          </ul>
          <div>
            <ul class="navbar-buttons d-inline-block align-middle mr-lg-2">
              <li><a href="#" data-toggle="search"><i class="fe-icon-search"></i></a></li>
              <li><a href="#shopping-cart" data-toggle="offcanvas"><i class="fe-icon-shopping-cart"></i></a><span class="badge badge-danger">3</span></li>
            </ul>
          </div>
        </div>
      </div>


    </header>







 
