<!DOCTYPE html>
<html>
  <head>
    <title>Trois petits chats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- icônes -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?9ukd8d">

  </head>


  <body>

    <%= render 'layouts/header' %>

    <%= render 'layouts/flash'%>


    <%= yield %>
    <%= render 'layouts/footer'%>

  </body>



</html>


